<!DOCTYPE html>
<html>
  <head>
    <title>LINBIT Powered Le Potato Cluster</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Le Potato www cluster powered by LINBIT.">
    <style>
      body{font-family:Arial, sans-serif;color:#f79133;background-color:#1e2939;}
      h1{font-family:Arial, sans-serif;color:#f79133;background-color:#1e2939;}
      p{font-family:Arial, serif;font-size:14px;font-style:normal;font-weight:normal;color:#f79133;background-color:#1e2939;}
      a:link{color:#6f6b6a}
      a:visited{color:#6f6b6a}
      a:hover{color:#f79133}
    </style>
  </head>
  <body>
    <h1>Potato Cluster</h1>
    <p>
    <pre>
    .____    .___ _______ __________.______________
    |    |   |   |\      \\______   \   \__    ___/
    |    |   |   |/   |   \|    |  _/   | |    |
    |    |___|   /    |    \    |   \   | |    |
    |_______ \___\____|__  /______  /___| |____|
            \/           \/       \/
    </pre>
    Keeping the digital world running --|| <a href="https://linbit.com">LINBIT.com</a> ||--
    </p>
  </body>
</html>
